*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}


.view{
    text-align: right;
    margin: 10px;
    height: 10%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.button{
    color: white;
    background-color: #4a4a4a;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    
}

body{
    background-color: black;
}

main{
    padding-bottom: 150px;
}


.contenitore{
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    
    
}

.colonna{
    width: 300px;
    height: 200px;
    padding: 10px;
    position: relative;
    
}

img{
    width: 100%;
    height: 100%;
}

.infouser{
    position: absolute;
    bottom: 20px;
    left: 20px;
}



footer{
    background-color: #222222;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.bar{
    padding: 30px 0px;
    display: flex;
    align-items: center;
    color: white;
    
}


.containericon, .icon3 {
    width: 20%;
}

.icon2{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containericon{
    display:flex;
}

.white{
    background-color: white;
    color: black;
}


.bar li{
    
    padding: 0px 20px;
    list-style: none;
}

li a{
    text-decoration: none;
    color: white;
}

.icon{
    display: inline-block;
    text-align: center;
}

.fa-share-from-square{
    color: green;
}

.icon3{
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.disconnecting{
    height: 50px;
    background-color: #4a4a4a;
    display: flex;
    width: 50% ;
    justify-content: flex-end;
    align-items: center;
    color: red;
}


html::-webkit-scrollbar{
    display: none;
}
